.EmergencySect h1, h2 {
    color: #1aff00;
}

.IconsCall {
    padding-bottom: 50px;
}

.IconsCall a {
    transition: color 4s ease;
}

.IconsCall a:hover {
    color: #1aff00;
}

@media (max-width: 1100px) {
    .EmergencySect {
        padding: 20px;
    }

    .NumberEmerg {
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
    }

    .Separator-bar {
        width: 100%;
        background-color: #1dfb04;
        height: 1px;
    }
    
}